@page "/movies/add"

<h3>AddMovie</h3>

<ErrorResult Result="addResult" />
<SpecificErrorResult Result="addResult" Key="MovieName" />
<input class="input-group-text" type="text" @bind="@movieRequest.MovieName" />

<SpecificErrorResult Result="addResult" Key="Duration" />
<input class="input-group-text" type="text" @bind="@movieRequest.Duration" />

<div>
    <button class="btn btn-success" @onclick="AddMovieAsync">Submit</button>
</div>