@page "/movies/add"

<h3>AddMovie</h3>

<form>
    <ErrorResult Result="addResult"/>
    <p>Movie name:</p>
    <SpecificErrorResult Result="addResult" Key="MovieName" />
    <input class="input-group-text" type="text" @bind="@movieRequest.MovieName" />

    <p>Duration:</p>
    <input class="input-group-text" type="text" @bind="@movieRequest.Duration" />

    <button class="btn btn-success" @onclick="AddMovieAsync">Submit</button>
</form>