@page "/movies/{id:int}/edit"

<h3>EditMovie</h3>

@if (result == null || _currentUser == null)
{
    <p>Loading</p>
}
else
{
    if (result.ResultType == ResultType.Ok)
    {
        <p>Movie name:</p>
        <SpecificErrorResult Result="updateResult" Key="MovieName" />
        <input type="text" @bind="@movieName" />

        <p>Duration:</p>
        <input type="text" @bind="@duration" />

        <button @onclick="UpdateMovieAsync">Submit</button>
                
    }
    else
    {
        <ErrorResult Result="result" />
    }
}