@page "/producer/movies"

@attribute [Authorize(Roles ="Producer")]

@inject IMovieService _movieService
@inject ICustomAuthentication _customAuthentication;
@inject NavigationManager _navigationManager

<h1>Movies</h1>


@if (_movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (_movies.ResultType == ResultType.Ok)
    {
        <table class="table">
            <thead>

            </thead>
            <tbody>
                @foreach (var movie in _movies.Value)
                {
                    var link = $"/movies/{movie.MovieId}";
                    <tr>
                        <td>
                            <NavLink class="nav-link" href="@link">
                                @movie.MovieName
                            </NavLink>
                        </td>
                        <td>@movie.Duration</td>
                        <td>@movie.Rate</td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <ErrorResult Result=@_movies />
    }
}

@code {

    private Result<IEnumerable<Movie>> _movies { get; set; }
    private Result<GetUserResponse> _currentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var movies = await _movieService.GetAllMoviesAsync();

        _currentUser = await _customAuthentication.GetCurrentUserDataAsync();

        if (movies.ResultType == ResultType.Ok && _currentUser.ResultType == ResultType.Ok)
        {

            _movies = movies;
            _movies.Value = movies.Value.Where(x => x.ProducerId == _currentUser.Value.UserId);
        }
    }
}
