@page "/movies/{id:int}"

@using Movies.BlazorWeb.Pages.Reviews

@if (movie == null || currentUser == null)
{
    <h3>Loading</h3>
}
else
{
    @if (movie.ResultType == ResultType.Ok)
    {
        <h2>@movie.Value.MovieName</h2>
        <h3>Rate: @movie.Value.Rate</h3>

        <ShowReviews MovieId="Id" />

        <AuthorizeView Roles="Reviewer">
            <Authorized>                
                <NavLink class="nav-link" href="@addReviewLink">Add review</NavLink>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Producer">
            <Authorized>
                @if (movie.Value.ProducerId == currentUser.Value.UserId)
                {
                    <NavLink class="nav-link" href="@editLink">Edit</NavLink>
                }
            </Authorized>
            <NotAuthorized>
                <p>Not authorized to edit</p>
            </NotAuthorized>
        </AuthorizeView>

    }
    else
    {
        <ErrorResult Result=@movie />
    }
}
