@page "/movies/{id:int}"



@if (_movie == null || _currentUser == null)
{
    <h3>Loading</h3>
}
else
{
    @if (_movie.ResultType == ResultType.Ok)
    {
        <h1>@_movie.Value.MovieName</h1>
        <h2>@_movie.Value.Rate</h2>

        <AuthorizeView Roles="Producer">
            <Authorized>
                @if (_movie.Value.ProducerId == _currentUser.Value.UserId)
                {
                    <NavLink class="nav-link" href="@link">Edit</NavLink>
                }
            </Authorized>
            <NotAuthorized>
                <p>Not authorized to edit</p>
            </NotAuthorized>
        </AuthorizeView>

    }
    else
    {
        <ErrorResult Result=@_movie />
    }
}
