@page "/movies/{id:int}"


@using Movies.BlazorWeb.Shared.Entities
@using Movies.BlazorWeb.Pages.Reviews

@if (movie == null || currentUser == null)
{
    <h3>Loading</h3>
}
else
{
    @if (movie.ResultType == ResultType.Ok)
    { 
        <MovieEntity Movie="movie.Value"/>

        <ShowReviews MovieId="Id" />

        <AuthorizeView Roles="Reviewer">
            <Authorized>                
                <NavLink class="nav-link" href="@addReviewLink">Add review</NavLink>
            </Authorized>
        </AuthorizeView>        
    }
    else
    {
        <ErrorResult Result=@movie />
    }
}
