@page "/account"

<h3>AccountDetails</h3>

@if (user != null)
{
    @if (user.ResultType == ResultType.Ok)
    {
        <h2>@user.Value.Login</h2>

        <h3>Roles:</h3>
        <ul>            
            @foreach (var role in user.Value.Roles)
            {
                <li><p>@role</p></li>
            }
        </ul>



        @if (!user.Value.Roles.Contains(UserRoles.Producer))
        {
            <label>Country</label>
            <input @bind-value="country" />
            <button class="btn-primary" @onclick="RegisterAsProducer">Register as Producer</button>
        }

        @if (!user.Value.Roles.Contains(UserRoles.Reviewer))
        {
            <label>NickName</label>
            <input @bind-value="country" />
            <button class="btn-primary" @onclick="RegisterAsReviewer">Register as Reviewer</button>
        }

    }
    else
    {
        <ErrorResult Result="user" />

    }

    @if (producer != null)
    {
        @if (producer.ResultType != ResultType.Ok)
        {
            <ErrorResult Result="producer" />
        }
    }
}