@page "/account"

<h3>AccountDetails</h3>

@if (user != null)
{
    @if (user.ResultType == ResultType.Ok)
    {
        <h2>@user.Value.Login</h2>

        <h3>Roles:</h3>
        <ul>
            @foreach (var role in user.Value.Roles)
            {
                <li><p>@role</p></li>
            }
        </ul>



        @if (!user.Value.Roles.Contains(UserRoles.Producer))
        {
            <form>
                <SpecificErrorResult Key="Country" Result="registerProducerResult" />
                <input type="text" @bind-value="registerProducerRequest.Country" />
                <button @onclick="RegisterAsProducer">Register</button>
            </form>
        }

        @if (!user.Value.Roles.Contains(UserRoles.Reviewer))
        {
            <form>
                <SpecificErrorResult Key="NickName" Result="registerReviewerResult" />
                <input type="text" @bind-value="registerReviewerRequest.NickName" />
                <button @onclick="RegisterAsReviewer">Register</button>
            </form>
        }

    }
    else
    {
        <ErrorResult Result="user" />

    }

    @if (registerProducerResult != null)
    {
        @if (registerProducerResult.ResultType != ResultType.Ok)
        {
            <ErrorResult Result="registerProducerResult" />
        }
    }
}