@page "/login"

<h3>Log in</h3>

<h6>login</h6>
<SpecificErrorResult Result="response" Key="Login" />
<input type="text" @bind-value="login"/>

<h6>Password</h6>
<SpecificErrorResult Result="response" Key="Password" />
<input id="Password1" type="password" @bind-value="password"/>

<button @onclick="LogUsername">Login</button>
