
<div>
    @if (Result != null && !string.IsNullOrEmpty(Key))
    {        
        if (Result.ResultType != ResultType.Ok)
        {
            <table class="table-danger">
                <tbody>
                    @if (Result.Errors.TryGetValue(Key, out var errors))
                    {
                        @foreach (var error in errors)
                        {
                            <tr>
                                <td>
                                    @error
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
</div>

@code {
    [Parameter]
    public Result Result { get; set; }

    [Parameter]
    public string Key { get; set; }
}
